html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
	min-height: 100vh;
	overflow: hidden;
	position: relative;
	padding: 0;
	font-family: "Noto Sans", sans-serif;
	font-size: 16px;
	color: white;
}

body.blue {
	background-color: #2196F3;
}

body.orange {
	background-color: #FFC107;
}

body:after {
	content: "";
	width: 300vw;
	height: 300vw;
	display: block;
	position: absolute;
	border-radius: 100%;
	bottom:-150vh;
	left: -150vw;
}

body.blue:after {
	background-color: #2196F3;
}

.container {
	height: 100vh;
	min-width: 50vw;
	position: absolute;
	top: 0;
	left: 25vw;
	right: 25vw;
	z-index: 2;
	text-align: center;
}

h1 {
	font-weight: normal;
	font-size: 2.1rem;
	margin: 6rem auto;
}

input {
	box-shadow: 0 4px 10px rgba(0,0,0,0.1);
	border-radius: 100px;
	font-size: 1.5rem;
	padding: 0.7rem 5rem;
	border: 1px solid transparent;
	transition: 0.2s;
	max-width: 22vw;
	min-width: 100px;
}

input:focus, input:hover {
	box-shadow: 0 5px 30px rgba(0,0,0,0.3);
	transition: 0.2s;
	outline: none;
}

.form-control {
	max-width: 22vw;
	min-width: 100px;
	margin: 1.5rem auto;
	position: relative;
}

.form-control:before {
	content: "";
	position: absolute;
	width: 2.2rem;
	height: 34px;
	left: 30px;
	top: 10px;
	opacity: 0.8;
}

.email:before {
	background: url(email_icon.svg) no-repeat 50% 50%;
	background-size: contain;
}

.password:before {
	background: url(password_icon.svg) no-repeat 50% 50%;
	background-size: contain;
}

.recover:after {
	content: "";
	position: absolute;
	width: 1.2rem;
	height: 34px;
	right: 30px;
	top: 10px;
	background-size: contain;
	opacity: 0.8;
	background: url(reset_icon.svg) no-repeat 50% 50%;
	background-size: contain;
	cursor: pointer;
	transition: 0.2s;
}

.password:hover:after {
	opacity:1;
	transition: 0.2s;
}

.oauth {
	margin-top: 2rem;
	color: rgba(255,255,255,0.7);
}

.oauth p {
	margin: 1rem auto 0.6rem;
}

button {
	border-radius: 5px;
	border: none;
	color: white;
	box-shadow: 0 1px 5px rgba(0,0,0,0.1);
	transition: 0.2s;
}

button.big.blue {
	background: #1976D2;
}

button:hover, button:focus {
	box-shadow: 0 6px 14px rgba(0,0,0,0.1);
	transition: 0.2s;
}

button:active {
	box-shadow: 0 0 0 rgba(0,0,0,0);
	transition: 0s;
}

button.big.blue:hover {
	background-color: #1565C0;
}

button.big.blue:active {
	background-color: #0D47A1;
}

button.big {
	font-size: 1.3rem;
	padding: 0.7rem 1.9rem;
}

button.small {
	font-size: 0.8rem;
	padding: 0.3rem 1rem;
}

button.small.blue {
	background: #1E88E5;
}

button.small.blue:hover {
	background-color: #1565C0;
}

button.small.blue:active {
	background-color: #0D47A1;
}

a, a:focus, a:visited {
	text-decoration: none;
	color: white;
	opacity: 0.7;
	transition: 0.2s;
	border-bottom: 1px solid rgba(255,255,255,0.5);
}

a:hover, a:active {
	opacity: 1;
	border-bottom: 1px solid white;
	transition: 0.2s;
}











